<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sair</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
     <ion-col style="text-align: center">
       <h2>Deseja Sair ?</h2>      
     </ion-col>
  </ion-row>
  <ion-row>
     <ion-col>        
        <ion-button color="success" expand='block' (click)='onSubmit()'>Sim</ion-button>        
     </ion-col>
     <ion-col>
        <ion-button color="danger" expand='block' fill="outline">Nao</ion-button>   
     </ion-col>
  </ion-row>      
</ion-content>