<ion-header>
    <ion-toolbar color="primary">            
        <ion-menu-toggle auto-hide="false">
           <ion-button>
                 <ion-icon name='menu'></ion-icon>
           </ion-button>                                                
           <h3>Inicial</h3>
        </ion-menu-toggle>                    
    </ion-toolbar>
</ion-header>

<ion-content>     
     
     <ion-row>
       <ion-col style="text-align: center">
          <img src="assets/imgs/agefis.jpg" alt="Logo">   
       </ion-col>
     </ion-row>      
     <ion-row>
        <ion-col style="text-align: center">
           <h1>Estacionamento</h1>  
        </ion-col>
      </ion-row>
</ion-content>
